doctype html
html
    head
        title="Test application"
    body(style={"text-align": "center"})
        include ./header.pug
        h2 Welcome!
        p You have successfully logged in!
        include ./footer.pug