doctype html
html
    head
        title="Test application"
    body(style={"text-align": "center"})
        include ./header.pug
        a(href="/auth/google") Login with Google
        include ./footer.pug